<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <!-- STYLESHEETS -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@7.0.0/skeleton.css' rel='stylesheet'/>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@7.0.0/themes/monarch/theme.css' rel='stylesheet'/>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@7.0.0/themes/monarch/palettes/purple.css' rel='stylesheet'/>
    <title></title>
</head>
<body>
<div style="text-align: center; padding: 50px;">
    <p class="h1" style="color: #436850">404 - Page Not Found</p>
    <p class="text">Oops! The page you are looking for doesn't exist.</p>
    <a href="{% url 'index' %}" class="text-decoration-none link-body-emphasis text-secondary">Return to Homepage</a>
</div>
</body>
</html>