{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--Main Content-->

<div class="container mt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 d-flex align-items-center justify-content-center">
            <div class="row pt-3 px-5">
                <div class="border rounded-4 mb-2 row justify-content-center">
                    <div class="col-12 px-3 pt-3">
                        <h3 class="fw-semibold pb-1">About us</h3>
                    </div>
                    <hr class="mb-0">
                    <p class="opacity-75 p-3">
                        We’re a team of two students who realized that navigating academic and professional life can be
                        isolating, especially without the right support. In Macedonia, it’s often hard to find mentors,
                        or real-world projects to grow through. МОСТ was built to change that. Our platform connects
                        students, encourages initiative, and creates a space where collaboration and local impact take
                        the lead.
                    </p>
                    <p class="opacity-75 p-3 text-center">
                        We built МОСТ because we wished it existed when we needed it.
                    </p>
                    <p class="opacity-75 p-3 text-center">
                        Join us — and be part of a new wave of student-driven growth.
                    </p>
                </div>
                <p class="p-3 text-center">
                    Got feedback or thoughts? Let us know at <a href="" class="fw-semibold text-decoration-none" style="color: #436850">email@example.com.</a>
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>



{% endblock %}