{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load filters %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('successModal'));
        myModal.show();
      });
    </script>

    <!--Main Content-->

    <div class="container m-auto">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div class="row pt-3 pb-2 px-5">
                    <div class="border rounded-4">
                        <div class="row pt-3">
                            <div class="col-1 d-flex align-items-center">
                                <a href="javascript:history.back()">
                                <i class="bi bi-arrow-left ps-1" style="font-size: 22px; color: dimgray;"></i>
                                </a>
                            </div>
                            <div class="col-11 d-flex flex-column mt-3">
                                <h2 class="text-start mb-2 fw-semibold">{{ post_id|get_post_title }}</h2>
                                <p class="small text-start mb-0">
                                    <a href="#" class="text-decoration-none text-secondary link-body-emphasis">
                                        {{ post_id|get_post_profile }}
                                    </a>
                                </p>
                            </div>
                            <div class="px-5">
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <form method="post" action="{% url 'apply' post_id %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="row d-flex justify-content-between px-5 mx-5 my-4">
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <a href="{% url 'application_post' post_id %}" class="text-decoration-none mb-0" style="color: #436850"><p class="mb-0">
                                                Cancel</p>
                                            </a>
                                        </div>
                                        <div class="col-2 text-end">
                                            <button class="btn text-light" style="background-color: #436850">Apply</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-1"></div>
                        </div>

                        {% if successful %}
                        <!-- Success Modal -->
                        <div class="modal show" data-bs-backdrop='static' id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered w-25">
                                <div class="modal-content py-4 mx-0">
                                    <div class="row">
                                        <i class="bi bi-check-circle ps-1 text-center" style="font-size: 50px; color: #436850;"></i>
                                    </div>
                                    <div class="row">
                                        <h2 class="text-center fw-semibold" style="color: #436850">Success!</h2>
                                    </div>
                                    <div class="row">
                                        <p class="text-center text-secondary">Your application has been sent.</p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <button type="submit" class="btn text-light text-center w-25"
                                                onclick="window.location.href='/browse/'"
                                                style="background-color: #436850">OK
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}