{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block content %}
<script>
console.log('{{ events|escapejs }}');
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {

    const calendarEl = document.getElementById("calendar");

    const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: "dayGridMonth",
        events: JSON.parse('{{ events|escapejs }}'),

    });

    calendar.render();

});
</script>
<div class="container mt-5">

    <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-end">
            <a href="javascript:history.back()" class="pb-4 mb-1">
                <i class="bi bi-arrow-left ps-1" style="font-size: 22px; color: dimgray;"></i>
            </a>
        </div>

        <div class="col-8">
            <h3 class="fw-semibold">Calendar</h3>
            <hr/>
        </div>

        <div class="col-2"></div>
    </div>


    <div class="row">
        <div class="col-3"></div>

        <div class="col-6 pt-3 pb-2">
            <div class="border rounded-4 p-4 shadow-sm">
                <div id="calendar"></div>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

</div>

{% endblock %}