{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container m-auto">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div class="row pt-3 pb-2 px-5">
                    <div class="border rounded-4">
                        <div class="row pt-3">
                            <div class="col-1 d-flex align-items-center">
                                <a href="{{ request.META.HTTP_REFERER }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path d="M10.6662 19L3.99951 12M3.99951 12L10.6662 5M3.99951 12L19.9995 12"
                                          stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                </a>
                            </div>
                            <div class="col-11 d-flex flex-column mt-3">
                                <h2 class="text-start mb-0 fw-semibold">Edit Profile</h2>
                            </div>
                            <div class="px-5">
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <form method="post" action="{% url 'edit_profile'  %}">
                                        {% csrf_token %}
                                        {{ user.as_p }}
                                        {{ profile.as_p }}
                                    <div class="row d-flex justify-content-between px-5 mx-5 my-4">
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <a href="{{ request.META.HTTP_REFERER }}" class="text-decoration-none mb-0" style="color: #436850">
                                                <p class="mb-0">
                                                Cancel
                                                </p>
                                            </a>
                                        </div>
                                        <div class="col-2 text-end">
                                            <a href="{% url 'edit_profile' %}">
                                            <button type="submit" class="btn text-light" style="background-color: #436850">Submit
                                            </button>
                                                </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}