{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Main Content -->

    <div class="container m-auto">
        <div class="row">
            <div class="col-2 text-start">
            </div>
            <div class="col-7 p-5">
                <h5>Search results for '{{ query }}'</h5>
                <hr/>
            {% if profiles %}
                {% for profile in profiles %}
                <div class="row d-flex align-items-center px-4 py-1">
                    <div class="border rounded-4 mb-2 row">
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <a href="#" class="">
                                <img src="{{ profile.profile_pic }}" class="rounded-circle" width="64" height="64" alt=""/>
                            </a>
                        </div>
                        <div class="col-6 pe-4">
                            <p class="mb-0 mt-3"><a href="{% url 'profile' profile.user_id %}" class="text-decoration-none text-body-emphasis">
                                {{ profile.first_name }} {{ profile.last_name }}</a></p>
                            <p class="mb-1 small"><a href=""
                                                     class="text-decoration-none text-secondary link-body-emphasis">
                                {{ profile.bio }}
                            </a></p>
                            <p class="mb-3 small"><a href="{% url 'collaborations' profile.user_id %}"
                                                     class="text-decoration-none text-secondary link-body-emphasis">3
                                mutual collaborators</a></p>
                        </div>
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <a href="{% url 'profile' profile.user_id %}">
                            <button class="btn rounded-pill text-light" data-bs-toggle="modal"
                                    data-bs-target="#collaborationModal" style="background-color: #436850">
                                View profile
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    <p>No results found</p>
                </div>
            {% endif %}
            </div>

            <!-- Sidebar -->

            <div class="col-3 text-start">
                <div class="row position-sticky" style="top: 6.5rem;" id="recommendations">
                    <h5 class="py-2">Mutual collaborators</h5>
                    <br>
                    <div class="border rounded-4 mb-2 row">
                        <div class="col-2 d-flex align-items-center">
                            <a href="#" class="">
                                <img src="" class="rounded-circle" width="48" height="48" alt=""/>
                            </a>
                        </div>
                        <div class="col-10 px-4 gap-0">
                            <p class="mb-0 mt-3"><a href="#" class="text-decoration-none text-body-emphasis">Name
                                Lastname</a></p>
                            <p class="mb-3 small"><a href="#"
                                                     class="text-decoration-none text-secondary link-body-emphasis">3
                                mutual
                                collaborators</a></p>
                        </div>
                    </div>
                    <br>
                    <div class="border rounded-4 mb-2 row">
                        <div class="col-2 d-flex align-items-center">
                            <a href="#" class="">
                                <img src="" class="rounded-circle" width="48" height="48" alt=""/>
                            </a>
                        </div>
                        <div class="col-10 px-4">
                            <p class="mb-0 mt-3"><a href="#" class="text-decoration-none text-body-emphasis">Name
                                Lastname</a></p>
                            <p class="mb-3 small"><a href=""
                                                     class="text-decoration-none text-secondary link-body-emphasis">3
                                mutual collaborators</a></p>
                        </div>
                    </div>
                    <br>
                    <div class="border rounded-4 mb-2 row">
                        <div class="col-2 d-flex align-items-center">
                            <a href="#" class="">
                                <img src="" class="rounded-circle" width="48" height="48" alt=""/>
                            </a>
                        </div>
                        <div class="col-10 px-4">
                            <p class="mb-0 mt-3"><a href="#" class="text-decoration-none text-body-emphasis">Name
                                Lastname</a></p>
                            <p class="mb-3 small"><a href=""
                                                     class="text-decoration-none text-secondary link-body-emphasis">3
                                mutual collaborators</a></p>
                        </div>
                    </div>
                    <div class="row py-3" id="calendar">
                        <h5>My calendar</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}