<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <title>Sign in</title>
</head>
<body>

<div class="container p-5 col-6">
    <div class="d-flex justify-content-center align-items-center p-5">
        <form action="{% url 'signin' %}" method="post" class="border rounded-5 p-5" style="width: 350px;" role="form">
            {% csrf_token %}
            <div class="text-center">
                <h3 class="fw-bold">Sign in</h3>
            </div>
            <hr/>
            <div class="mb-1 p-2">
                <input name='email' type="email" class="form-control rounded-3" placeholder="Email" aria-label="Email">
            </div>
            <div class="mb-1 p-2">
                <input name="password" type="password" class="form-control rounded-3" placeholder="Password" aria-label="Password">
            </div>
            <div class="mb-2 text-start p-2">
                <p class=""><a href="#" class="btn-link" style="color: #436850">Forgot password?</a></p>
            </div>
            <div>
                <button class="btn rounded-pill w-100 p-2 text-light" style="background-color: #436850">Sign in</button>
            </div>

        </form>
    </div>
    <p class="text-center">New to Most? <a href="{% url 'signup' %}" class="btn-link" style="color: #436850">Join now</a></p>
</div>

</body>
</html>