{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <!--Main Content-->

    <div class="container px-5">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""
                        aria-current="true"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                        class=""></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active" style="height: 250px">
                    <svg aria-hidden="true" class="" height="100%" preserveAspectRatio="xMidYMid slice"
                         width="100%" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100%" height="100%" fill="#436850"></rect>
                    </svg>
                    <div class="container">
                        <div class="carousel-caption text-start"><h1 style="color:#FBFADA">Study with impact.</h1>
                            <p class="opacity-75" style="color:#FBFADA">МОСТ supports your academic journey — from
                                coursework to collaboration.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="height: 250px">
                    <svg aria-hidden="true" class="bd-placeholder-img " height="100%"
                         preserveAspectRatio="xMidYMid slice"
                         width="100%" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100%" height="100%" fill="#436850"></rect>
                    </svg>
                    <div class="container">
                        <div class="carousel-caption"><h1 style="color:#FBFADA">Own your progress.</h1>
                            <p style="color:#FBFADA">Post your accomplishments. Share your wins, passions and plans.
                                Your journey deserves to be seen.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="height: 250px">
                    <svg aria-hidden="true" class="bd-placeholder-img " height="100%"
                         preserveAspectRatio="xMidYMid slice"
                         width="100%" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100%" height="100%" fill="#436850"></rect>
                    </svg>
                    <div class="container">
                        <div class="carousel-caption text-end"><h1 style="color:#FBFADA">Grow together.</h1>
                            <p style="color:#FBFADA">Whether applying, reaching out, or sharing, you’re shaping the
                                future.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev"><span
                    class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                    class="visually-hidden">Previous</span></button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next"><span
                    class="carousel-control-next-icon" aria-hidden="true"></span> <span
                    class="visually-hidden">Next</span>
            </button>
        </div>
        <div>
            <hr class="featurette-divider">
            <div class="row featurette p-5">
                <div class="col-md-7"><h2 class="featurette-heading fw-normal lh-1">What are collaborations?
                </h2>
                    <p class="lead text-start">Collaborations are proposals you send directly to someone you want to
                        work with.</p>
                    <p class="lead text-start">Saw someone whose achievements caught your eye? Head to their profile and
                        hit “Collaborate” to propose a project together.</p>
                </div>
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                        <title>Collaborations</title>
                        <img alt="collaborate button" src="/static/img/collaborate.png">
                    </svg>
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette p-5">
                <div class="col-md-7 order-md-2 "><h2 class="featurette-heading fw-normal lh-1">Browse + Apply
                </h2>
                    <p class="lead">The Browse section is your discovery hub.</p>
                    <p class="lead">Here, users post open calls for collaborators; whether it’s a project, event, or
                        initiative.</p>
                    <p class="lead">You can:</p>
                    <ul class="lead">
                        <li>
                            Apply to collaborations
                        </li>
                        <li>
                            Create and post your own
                        </li>
                        <li> Filter by tags, date posted, or deadline to apply</li>
                        <li>Save posts in your bookmarks to check later</li>
                    </ul>
                </div>
                <div class="col-md-5 order-md-1 d-flex align-items-center justify-content-center">
                        <title>Browse</title>
                        <img alt="collaborate button" src="/static/img/apply.png">
                    </svg>
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette p-5">
                <div class="col-md-7"><h2 class="featurette-heading fw-normal lh-1">Your Profile = Your Portfolio
                </h2>
                    <p class="lead">Your profile is where people get to know you. Customize it with:</p>
                    <ul class="lead">
                        <li>A short bio</li>
                        <li>Your skills and certifications</li>
                        <li>Your education or current job</li>
                        <li>Contact info so others can reach out</li>
                    </ul>
                    <p class="lead">You can also browse other users’ profiles and get inspired by what they’ve
                        accomplished.</p></div>
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                        <title>Profile</title>
                        <img alt="collaborate button" src="/static/img/profile.png">
                    </svg>
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row justify-content-center my-5 pb-5 px-5">
                <div class="d-flex align-items-center justify-content-center text-center">
                    <p class="mb-0">Not sure where to begin?</p>
                    <a href="{% url 'index' %}" class="ps-2 nav-link fw-semibold" style="color: #436850">
                    Get started.
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}